.hud {
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  color: white;

  font-weight: bold;
  z-index: 20;
  display: flex;
  justify-content: space-between;
}

.hud__info {
  border-radius: 6px;
  padding: 6px 10px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 12px;
}
