html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.game-root {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#88d3f8, #a6f0ff);
  overflow: hidden;
}

.duck {
  z-index: 10;
}
